/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #00209f;
    --red: #d21034;
    --white: #fff;
    --yellow: #f1b517;
    --green: #016a16;
}

body {
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    margin-right: 10px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background-image: url("/images/pexels-kelly-2898214.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: #fff;
}

.hero-content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.donate-button {
    display: inline-block;
    background-color: var(--yellow);
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    text-align: center;
}
