/*=============== ABOUT ===============*/
.about,
.history {
    & .section__title {
        color: var(--hf-yellow);
        font-size: 2rem;
    }
    &__container {
        row-gap: 1rem;
    }

    &__data {
        text-align: center;
    }

    &__description {
        margin: 2rem 0;
        color: #fff;
        text-align: start;
    }

    &__image {
        justify-self: center;

        width: 100%;
        margin: auto auto;
    }

    &__img {
        margin: 0 0 0 0;
        transition: transform 0.4s;
        -webkit-transition: transform 0.4s;
        -moz-transition: transform 0.4s;
        -ms-transition: transform 0.4s;
        -o-transition: transform 0.4s;

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}

@media screen and (min-width: 584px) {
    .about__container,
    .history__container {
        grid-template-columns: 584px;
        justify-content: center;
    }
}
