.article {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;
        object-fit: cover;

        object-position: 50% 90%;
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(0, 0%, 0%) 78%);
    }

    &__container {
        position: relative;
        grid-template-columns: 1fr;

        padding-top: 3rem;
        row-gap: 1rem;
    }

    &__data {
        margin-top: 26rem;

        grid-template-columns: 1fr;
        align-items: start;
        text-align: center;

        &-group {
            height: fit-content;
        }

        img {
            display: none;
            width: 100%;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
    &__subtitle {
        font-size: var(--h3-font-size);
        margin-bottom: 0.5rem;
    }
    &__title {
        font-size: var(--biggest-font-size);
        margin-bottom: 1rem;
    }
    &__description {
        //margin-bottom: 2rem;
        color: var(--title-color);
        width: 100%;
        max-width: 900px;
        text-align: start;
    }

    &__section {
        display: grid;
        grid-template-columns: 1fr;

        &-image {
            width: 100%;
            max-width: 450px;
            height: auto;

            margin: 1rem auto;
            overflow: hidden;

            img {
                // padding-bottom: 3rem;
                width: 100%;
                //max-width: 500px;

                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }
        }

        &-area {
            h2 {
                // background-color: var(--hf-red);
                color: #fff;
                // padding: 0.5rem;
                margin-bottom: 1rem;

                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                -ms-border-radius: 10px;
                -o-border-radius: 10px;
            }

            p {
                color: #fff;
                line-height: 2;
                margin-bottom: 2rem;
                a {
                    color: var(--hf-yellow);
                }
            }

            a {
                text-decoration: none;

                color: var(--hf-yellow);

                &:hover {
                    color: var(--hf-red);
                    text-decoration: underline;
                }
            }

            .red-text {
                text-align: center;
                padding: 0.3rem;

                color: var(--hf-red);

                font-size: 1.2rem;
                font-weight: var(--font-semi-bold);
            }

            blockquote {
                position: relative;
                margin: 10% auto 0 auto;
                padding: 1rem 30px 1.2rem 75px;

                font-family: var(--second-font);

                span {
                    padding-right: 0.2rem;
                    font-style: italic;
                    font-weight: var(--font-semi-bold);
                    color: var(--hf-red);
                }
                font-size: 2rem;
                line-height: 1.6;

                background: #fff;
                color: var(--hf-blue);

                border-left: 30px solid var(--hf-yellow);
                border-radius: 0 10px 10px 0;
                -webkit-border-radius: 0 10px 10px 0;
                -moz-border-radius: 0 10px 10px 0;
                -ms-border-radius: 0 10px 10px 0;
                -o-border-radius: 0 10px 10px 0;

                &::before {
                    font-family: Arial;
                    content: "\201C";
                    color: var(--hf-red);
                    font-size: 4em;
                    position: absolute;
                    left: 10px;
                    top: -45px;
                }
                &::after {
                    content: "";
                }
            }
        }
    }

    &__cards {
        grid-template-columns: 240px;
        justify-content: center;
        margin-top: 3rem;
    }

    &__card {
        position: relative;
        overflow: hidden;

        &-img {
            transition: transform 0.4s;
            -webkit-transition: transform 0.4s;
            -moz-transition: transform 0.4s;
            -ms-transition: transform 0.4s;
            -o-transition: transform 0.4s;
        }

        &-shadow {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 125%);
        }

        &-title {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            font-size: var(--h3-font-size);
            z-index: 1;
        }

        &:hover .home__card-img {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
    }
}

.related {
    background-color: #f0f2f5;
    // background-color: #fff;

    padding-bottom: 3rem;
    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding: 3rem 0 2rem 0;
        text-align: center;
        color: var(--hf-blue);
    }

    &__cards {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
        gap: 1.5rem;

        ul {
            list-style-type: none;
            padding: 0;
        }
    }

    &__link {
        display: block;
        text-decoration: none;
        color: black;

        border: 5px solid var(--lib-blue);
        background-color: var(--hf-blue);

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    &__card {
        margin: 0 auto;
        width: 300px;
        height: 270px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.06);
        transition: box-shadow 0.3s ease-in-out;
        -webkit-transition: box-shadow 0.3s ease-in-out;
        -moz-transition: box-shadow 0.3s ease-in-out;
        -ms-transition: box-shadow 0.3s ease-in-out;
        -o-transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15), 0 8px 24px rgba(0, 0, 0, 0.1);
        }

        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        &-img-wrapper {
            height: 200px;
            width: 100%;
            position: relative;
            overflow: hidden;
            height: auto;
            border-radius: 10px 10px 0 0;
            -webkit-border-radius: 10px 10px 0 0;
            -moz-border-radius: 10px 10px 0 0;
            -ms-border-radius: 10px 10px 0 0;
            -o-border-radius: 10px 10px 0 0;
        }

        &-img {
            width: 100%;
            height: 130px;
            object-fit: cover;
            display: block;

            .related__card-img-wrapper:hover & {
                transform: scale(1.05);
            }

            transition: 0.3s ease;
            -webkit-transition: 0.3s ease;
            -moz-transition: 0.3s ease;
            -ms-transition: 0.3s ease;
            -o-transition: 0.3s ease;
        }

        &-title {
            background-color: #fff;
            color: var(--hf-blue);

            white-space: nowrap;
            overflow: hidden;

            max-width: 85%;

            padding: 0 0 0 0.5rem;
        }

        &-area {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 120px;
        }

        &-text {
            font-size: var(--small-font-size);
            padding: 0.2rem 1rem 0rem 0.5rem;
            color: var(--text-color);

            max-height: 150px; // Adjust accordingly
            overflow: hidden;
        }

        // &-shadow {
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     background: linear-gradient(180deg, transparent, transparent 50%, rgba(0, 0, 0, 0.9));
        // }

        .learn__more {
            display: block;
            text-align: end;
            font-size: 1rem;
            color: var(--hf-yellow);
            margin: 0.1rem 1rem 1rem 2.5rem;

            &:hover {
                text-decoration: underline;
            }

            & i {
                margin-left: 0.2rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .article {
        &__container {
            justify-content: initial;

            padding-top: 6.5rem;
        }
        &__data {
            text-align: start;
            grid-template-columns: 1.5fr 1fr;
            gap: 1.5rem;

            img {
                display: block;
                max-height: 100%;
                width: auto;
            }
        }

        &__subtitle {
            font-size: var(--h2-font-size);
        }
        &__description {
            text-align: left;
        }

        // &__content{
        //     display: grid;
        //     grid-template-areas: ;
        // }
    }
}

@media screen and (min-width: 850px) {
    .article {
        &__data {
            margin-bottom: 3rem;
        }
        &__section {
            &.sect-1,
            &.sect-3,
            &.sect-5 {
                grid-template-columns: auto minmax(400px, 1fr);
            }

            &.sect-2,
            &.sect-4,
            &.sect-6 {
                grid-template-columns: minmax(400px, 1fr) auto;
            }
            gap: 3rem;

            margin-bottom: 3rem;

            &:nth-of-type(odd) .article__section-group {
                order: 2;
            }

            &:nth-of-type(even) .article__section-image {
                order: 1;
            }

            &-title {
                font-size: var(--h1-font-size);
            }

            &-text {
                font-size: var(--h3-font-size);
            }

            &-image {
                margin: 0;
                &-img {
                    object-fit: cover;
                    object-position: center;

                    // max-height: 260px;
                }
            }
        }
    }
}

.mission {
    .learn__more {
        display: block;
        text-align: end;
        font-size: 1rem;
        background-color: var(--hf-yellow);
        color: #fff;
        margin: 0.1rem 1rem 0.2rem 2.5rem;

        &:hover {
            text-decoration: underline;
        }

        & i {
            margin-left: 0.2rem;
        }
    }
}

#join {
    .related {
        &__card {
            background-color: var(--hf-yellow);
            &-title {
                background-color: var(--hf-blue);
                color: #fff;
            }
            &-text {
                color: var(--hf-blue);
            }
        }
    }

    & .learn {
        display: flex;
        justify-content: end;

        &__more {
            margin: 0 0 0 1rem;
            padding: 0.2rem 1rem 0 3.5rem;
            background-color: #fff;
            color: var(--hf-blue);

            &:hover {
                background-color: var(--hf-blue);
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
