/*=============== DONATE ===============*/
.donate {
    position: relative;
    padding-bottom: 2rem;

    background-color: var(--hf-yellow);

    &__image {
        position: absolute;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: top center;
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            180deg,
            var(--hf-blue) 5%,
            hsla(0, 0%, 0%, 0) 20%,
            hsla(0, 0%, 0%, 0) 60%,
            var(--hf-yellow) 92%
        );
    }

    &__content {
        position: relative;
        padding-top: 20rem;
        text-align: center;
        row-gap: 2.5rem;
    }

    &__section-title {
        // width: max-content;
        // padding: 0.5rem;
        // background-color: var(--hf-blue);
        color: #fff;
        // border-radius: 10px;
        // -webkit-border-radius: 10px;
        // -moz-border-radius: 10px;
        // -ms-border-radius: 10px;
        // -o-border-radius: 10px;
    }

    &__description {
        color: var(--hf-blue);
    }
}

// .zeffy {
//     position: relative;
//     overflow: hidden;
//     width: 100%;
//     height: 1200px;
//     padding-top: 100%;

//     &__iframe {
//         position: absolute;
//         border: 0;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         width: 100%;
//         height: 100%;
//     }
// }
