/*=============== HOME ===============*/
.home {
    position: relative;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;
        object-fit: cover;

        object-position: 55% 50%;
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
        background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 58%, hsl(209, 100%, 18%) 78%);
    }

    &__container {
        position: relative;
        padding-top: 3rem;
        row-gap: 3rem;
    }

    &__data {
        text-align: center;
        margin-top: 23rem;
    }

    &__subtitle {
        font-size: var(--h3-font-size);
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: var(--biggest-font-size);
        margin-bottom: 1rem;
    }

    &__description {
        margin-bottom: 2rem;
        color: var(--title-color);
        text-align: start;
    }

    &__cards {
        grid-template-columns: 1fr;
        justify-content: center;
        margin-top: 3rem;
    }

    &__card {
        position: relative;
        overflow: hidden;

        &-img {
            width: 100%;

            // transition: transform 0.4s;
            // -webkit-transition: transform 0.4s;
            // -moz-transition: transform 0.4s;
            // -ms-transition: transform 0.4s;
            // -o-transition: transform 0.4s;

            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        // &-shadow {
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     background: linear-gradient(180deg, hsla(0, 0%, 0%, 0) 50%, hsl(209, 100%, 18%) 125%);
        // }
    }
}
