/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .footer__data {
        grid-template-columns: max-content;
    }
}

/* For medium devices */
@media screen and (min-width: 576px) {
    .home__container,
    .join__container {
        grid-template-columns: 450px;
        justify-content: center;
    }

    .donate {
        &__content {
            grid-template-columns: 500px;
            justify-content: center;
        }

        &__img {
            width: 100%;
            height: 520px;
        }

        &__data {
            margin-top: 7rem;
            width: 100%;
        }

        &__section-title {
            font-size: 2rem;
        }

        &__description {
            font-size: var(--h3-font-size);
        }
    }

    .related {
        &__cards {
            grid-template-columns: 300px 300px;
            justify-content: center;
        }
    }

    .footer {
        &__data {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 768px) {
    .home__cards {
        grid-template-columns: repeat(2, 280px);
    }

    .join {
        &__data {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        &__container {
            grid-template-columns: 1.5fr 1fr;
            align-items: center;
        }

        &__image {
            order: -1;
        }

        &__data,
        &__data .section__title {
            text-align: initial;
        }
    }

    // .mission__container {
    //     grid-template-columns: repeat(2, 350px);
    // }

    .mission {
        &__container {
            //grid-template-columns: 4, 200px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .donate {
        &__img {
            height: 650px;
        }

        &__data {
            margin-top: 14rem;
        }

        &__section-title {
            font-size: 3rem;
        }
    }

    .footer {
        &__content {
            justify-content: space-between;
        }

        &__info {
            flex-direction: row;
            justify-content: flex-start;

            gap: 2.5rem;
        }

        &__group {
            flex-direction: row;
            justify-content: space-between;
        }

        &__social {
            margin-right: 5rem;
        }

        &__copy {
            order: -1;
        }
    }
}

@media screen and (min-width: 968px) {
    .about,
    .history {
        &__container {
            margin-top: 3rem;
            grid-template-columns: 1.5fr 1fr;
            align-items: center;
        }

        &__image {
            height: 100%;
            width: auto;
        }

        &__data,
        &__data .section__title {
            text-align: initial;
        }

        // &__description {
        //     width: 80%;
        // }
    }

    .history {
        &__container {
            grid-template-columns: 1fr 50%;
        }
        &__data {
            order: -1;
        }
    }
    .donate {
        &__img {
            width: 100vw;
            height: auto;
        }

        &__content {
            grid-template-columns: 1fr 1fr;

            img {
                margin-top: 22rem;
            }
        }

        &__data {
            margin-top: 22rem;

            .section__title {
                font-size: 3rem;
            }
        }

        &__description {
            font-size: var(--h2-font-size);
        }
    }

    .related {
        &__cards {
            grid-template-columns: 300px 300px 300px;
            justify-content: space-around;
        }
    }
}

/* For large devices */
@media screen and (min-width: 1023px) {
    .nav {
        &__close,
        &__toggle {
            display: none;
        }

        &__list {
            flex-direction: row;
            column-gap: 4rem;
        }
    }

    .mission {
        &__container {
            //grid-template-columns: 4, 200px;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .footer {
        &__contact {
            margin: 0;
        }
    }
}

@media screen and (min-width: 1152px) {
    .container {
        margin-inline: auto;
    }
    .section {
        padding-block: 5rem 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 0.5rem);

        &.container {
            width: 90%;
        }
    }

    .blur-header::after {
        backdrop-filter: blur(25px);
        -webkit-backdrop-filter: blur(25px);
    }

    .home {
        &__container {
            grid-template-columns: initial;
            justify-content: initial;
            row-gap: 4rem;
            padding-top: 6.5rem;
        }

        // &__shadow {
        //     height: 980px;
        // }

        &__data {
            text-align: initial;
            //width: 480px;
        }

        &__subtitle {
            font-size: var(--h2-font-size);
        }
        &__description {
            width: 780px;
            margin-bottom: 2.5rem;
        }

        &__cards {
            grid-template-columns: repeat(4, 260px);
        }

        &__card {
            &-title {
                left: 1.5rem;
                bottom: 1.5rem;
            }
        }
    }

    .button {
        column-gap: 1.5rem;
    }

    .about,
    .history {
        &__container {
            grid-template-columns: 1fr 1fr;
            column-gap: 1.5rem;
        }

        &__description {
            font-size: var(--h3-font-size);
            text-align: left;
        }

        // &__img {
        //     width: 480px;
        // }
    }

    .mission {
        &__container {
            // grid-template-columns: repeat(4, 1fr);
            column-gap: 2rem;
            padding-top: 4rem;
        }
        &__title {
            font-size: var(--h2-font-size);
        }
        &__obj {
            font-size: var(--normal-font-size);
        }
    }

    .donate {
        &__img {
            height: 600px;
        }

        &__data {
            margin-top: 5rem;
        }
        &__content {
            padding-top: 28rem;
            grid-template-columns: 1fr 1fr;

            img {
                margin-top: 5rem;
            }
        }

        &__data,
        &__data .section__title {
            text-align: initial;
        }
    }

    .join {
        &__container {
            grid-template-columns: 1.5fr 1fr;
            gap: 3rem;
        }

        // &__data {
        //     min-width: 450px;
        // }

        &__image {
            max-width: 800px;
            width: 100%;
            height: auto;
        }

        &__section-title {
            font-size: 3rem;
        }
        // &__description {
        //     margin-bottom: 3rem;
        // }
    }

    .footer {
        padding-block: 5rem 3rem;

        &__container {
            padding: 0 2rem;
        }

        &__content {
            grid-template-columns: 2fr 1fr;
        }
        &__title {
            margin-bottom: 1.5rem;
        }

        &__group {
            margin-top: 1rem;
        }

        &__social {
            column-gap: 2rem;

            &-link {
                font-size: 2rem;
            }

            &-link .hs-link {
                width: 30px;
                margin-top: 8px;
            }
        }
    }

    .scrollup {
        right: 3rem;
        font-size: 2rem;
    }
}

@media screen and (min-width: 1350px) {
    :root {
        --header-height: 5.5rem;
    }

    .nav {
        &.container {
            max-width: 1600px;
        }
        &__logo,
        &__link {
            font-size: var(--h3-font-size);
        }
        &__logo {
            margin: 0.5rem 0 0.5rem 1rem;
            &-img {
                max-width: 95px;
            }
        }
    }
    // .mission{
    //     &__container{

    //     }
    // }

    .donate {
        &__img {
            object-position: 50% 20%;
        }
    }

    .related {
        &__cards {
            grid-template-columns: repeat(4, 300px);
            grid-auto-flow: row;
        }
    }

    #education {
        display: block;
    }
}

@media screen and (min-width: 1600px) {
    .donate {
        &__data {
            margin-top: 10rem;
        }
        &__shadow {
            background: linear-gradient(
                180deg,
                var(--hf-blue) 1%,
                hsla(0, 0%, 0%, 0) 15%,
                hsla(0, 0%, 0%, 0) 85%,
                var(--hf-yellow) 99%
            );
        }
    }
}
