/*=============== MISSION ===============*/
.mission {
    background-color: var(--hf-blue);
    padding: 3rem 0;

    &__container {
        width: 90%;
        max-width: 1500px;
        margin: 3rem auto 0;
        padding: 0 1rem;
        grid-template-columns: 1fr;
        justify-content: center;
        row-gap: 2.5rem;
    }

    &__item {
        background-color: var(--white);
        width: 100%;
        min-width: 250px;
        max-width: 350px;
        height: auto;
        margin: 0 auto;
        border-radius: 10px;
    }

    &__link {
        display: block;
        text-decoration: none;
        color: inherit;
        padding-bottom: 1rem;
    }

    &__image {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: auto;
        max-height: 200px;
        border-radius: 10px 10px 0 0;
    }

    &__img {
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    &__area {
        display: flex;
        flex-direction: row;
        padding: 0.5rem 0 0.5rem 0.5rem;

        i {
            padding: 0 0.5rem 0 1rem;
            font-size: 3rem;
            color: var(--hf-blue);
            align-self: end;
        }

        &-title {
            margin: 0.5rem 0 0 0.5rem;
            color: var(--hf-blue);
            font-size: 1.5rem;
        }
    }

    &__obj {
        margin: 0 0.5rem 0.5rem 0;
        text-align: end;

        span {
            color: var(--hf-blue);
            font-style: italic;
        }
    }

    .learn__more {
        display: block;
        text-align: end;
        font-size: 1rem;
        background-color: var(--hf-yellow);
        color: var(--white);
        margin: 1rem 1rem 0.2rem 2.5rem;

        &:hover {
            text-decoration: underline;
        }

        & i {
            margin-left: 0.2rem;
        }
    }
}
