/*=============== ZEFFY ===============*/
.zeffy {
    background-color: var(--white);

    &__image {
        width: 100%;
        background-color: var(--hf-yellow);
        padding: 3rem 1.5rem;

        img {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &__donate {
        background-color: var(--white);
        margin: 0 auto;

        h2 {
            background-color: var(--hf-red);
            padding: 1rem 0.5rem;
            text-align: center;
        }

        p {
            width: 80%;
            color: var(--hf-blue);
            margin: 1rem auto 0;
            padding-bottom: 1rem;
        }

        &-description {
            color: var(--hf-blue);
        }

        &-title {
            width: max-content;
            background-color: var(--white);
            color: var(--hf-red);
            margin: 0 auto;
            padding: 1rem;
            border-radius: 10px;
        }

        &-prompt {
            margin: 0 auto;
            text-align: center;
            padding: 2rem;
            background-color: var(--hf-yellow);

            h2 {
                color: var(--white);
            }
        }

        &-btn {
            color: var(--white);
            cursor: pointer;
            margin: 1rem auto;
            min-height: 50px;
            min-width: 150px;
            padding: 0.5rem 1.5rem;
            background-color: var(--hf-red);
            border: 3px solid var(--white);
            border-radius: 10px;
        }
    }
}
